<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">

		<!-- wp:heading {"level":1} -->
		<h1 class="wp-block-heading">Page Not Found</h1>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>The page you&#8217;re looking for doesn&#8217;t exist or has been moved.</p>
		<!-- /wp:paragraph -->

		<!-- wp:search {"label":"Search","placeholder":"Search&hellip;","buttonText":"Search"} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->
